<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/news-1.png"><img src="img/news-1.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<a href="img/media-list.png"><img src="img/media-list.png" alt="" class="fit-cover"></a>
</div>