@import "mixins.less";
@import "variables.less";

.article {
	.article-header {
		h3.title {
			margin-bottom: 0;
			text-align: center;
			text-transform: uppercase;
		}

		p.desc {
			font-size: 24px;
			font-weight: 700;
		}
	}

	.article-body {
		text-align: justify;

		.top-setting {
			ul.social-share {
				margin: 0 0 5px;
				padding: 0 10px;
				border-bottom: 1px solid @baseBg;

				> li {
					margin: 0 -2px;
					padding: 0;

					> a {
						display: block;

						> img {
							margin: 0;
						}
					}
				}
			}
		}

		p {
			text-indent: 50px;
		}

		img {
			margin-bottom: 20px;

			&.full {
				display: block;
				width: 100%;
			}

			&.radius {
				max-width: 100%;
				height: auto;
				border-radius: 10px;
			}
		}

		> div {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		blockquote {
			position: relative;
			display: block;
			padding-bottom: 20px;
			color: #ff4d4d;
			text-align: center;
			border: 0;
			font-size: 16px;
			font-weight: 700;

			&:after {
				content: '';
				position: absolute;
				background-color: #ff4d4d;
				height: 1px;
				bottom: 0;
				left: 35%;
				right: 35%;
			}
		}

		.highlight {
			border-bottom: 1px solid #ff4d4d;
		}

		.name {
			font-weight: 700;
		}
	}

	.article-footer {
		margin: 50px 0 0;

		.back {
			position: relative;
			color: @baseBg;
			text-transform: uppercase;
			letter-spacing: 1px;

			&:before {
				content: '';
				position: absolute;
				background: url(../img/back-btn.png) no-repeat;
				left: -20px;
				top: 4px;
				width: 20px;
				height: 20px;
			}
		}
	}
}