@import "variables.less";
@import "mixins.less";

// content
#content {
	padding-bottom: 100px;

	.desc {
		display: block;
		text-align: center;
		margin-bottom: 25px;
	}

	.desc-big {
		&:extend(#content .desc);
		text-align: left;
		font-size: 18px;
	}

	h1.title {
		font-size: 46px;
		text-align: center;
		color: @baseBg;
		font-weight: 700;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.sub-title {
		color: @baseBg;
		text-align: center;
		margin-bottom: 25px;
		text-transform: uppercase;
	}

	.panel {
		&.list {
			border: 0;
			box-shadow: none;
			border-radius: 0;
			margin: 50px 0px;

			.desc {
				font-size: 16px;
			}

			.panel-item {
				padding: 30px 0 15px;
				border: 1px solid #CCC;
				border-radius: 10px;
				height: 100%;
				background-color: #FFF;

				.sub-title {
					display: block;
					color: @baseColor;
					letter-spacing: 1.5px;
					font-weight: 300;
				}

				.panel-content {
					padding: 15px 40px 30px;

					li {
						line-height: 1.3em;
						margin-bottom: 7px;
					}
				}
			}

			&.gray {
				padding: 50px 0;
			}
		}

		&.our-info {
			.panel-item {
				.sub-title {
					min-height: 38px;
				}
			}
		}

		&.setting {
			border: 0;
			padding: 10px 0;
			margin: 20px 0;
			background-color: @darkGray;

			.search-media {

				.form-group {
					margin: 0;
				}

				input.search {
					font-size: 16px;
				    padding: 8px 10px;
				    height: initial;
				    border: 0;
				    background-color: #FFF;
				    border-top-left-radius: 10px;
				    border-bottom-left-radius: 10px;
				    box-shadow: none !important;

				    + .input-group-addon {
				    	background-color: #FFF;
				    	border-top-right-radius: 10px;
				    	border-bottom-right-radius: 10px;
				    	border: 0;
				    }
				}
			}

			.search-news {
				.form-group {
					margin: 0;
				}

				input.search {
					font-size: 16px;
				    padding: 8px 10px;
				    height: initial;
				    border: 0;
				    background-color: #dedddd;
				    border-top-left-radius: 10px;
				    border-bottom-left-radius: 10px;
				    box-shadow: none !important;

				    + .input-group-addon {
				    	background-color: #dedddd;
				    	border-top-right-radius: 10px;
				    	border-bottom-right-radius: 10px;
				    	border: 0;
				    }
				}
			}

			.dropdown {
			    display: inline-block;
			    background: #FFF;
			    padding: 20px 45px 15px 10px;
			    margin: -10px 0;
			    box-shadow: 8px 0px 12px -6px @shadowColor;

			    > a {
			    	position: relative;
			    	display: block;
			    	padding: 20px 30px;
			    	margin: -20px -30px;
			    	font-size: 16px;
			    	letter-spacing: 1px;

			    	&:before {
			    		content: '\f107';
			    		font-family: 'FontAwesome';
			    		position: absolute;
			    		top: 50%;
			    		right: 0;
			    		font-size: 35px;
			    		color: @baseBg;
			    		transition: all .2s;
			    		transform: translateY(-50%);
			    	}
			    }

			    .dropdown-menu {
			    	min-width: 100%;
			    	width: 100%;
		    	    border: 0;
				    top: 97%;
				    border-radius: 0;
				    border-bottom-left-radius: 10px;
				    border-bottom-right-radius: 10px;

				    > .dropdown-item {
				    	display: block;
				    	padding: 10px;
				    	text-transform: uppercase;
				    	font-size: 12px;

				    	&:hover {
				    		background-color: @gray;
				    	}
				    }
			    }
			}
		}
	}

	.panel-border-top {
		position: relative;
		padding: 15px;
		margin-top: 20px;
		margin-bottom: 20px;
		height: 100%;
		text-align: center;

		> .title {
			display: block;
			color: @baseColor;
			margin-bottom: 20px;
			min-height: 65px;
		}

		> img {
			max-width: 140px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 6px;
			border-radius: 50px;
			background-color: @baseBg;
		}
	}

	.brand-detail-panel {
		padding: 20px;
		margin: 20px 0 10px;
		border-top: 2px solid @baseBg;

		.brand-desc {
			margin-bottom: 20px;
			min-height: 150px;

			p {
				font-size: 16px;
			}
		}

		.variety-product {
			margin-top: 20px;

			.sub-title {
				display: block;
				font-size: 18px;
				text-align: left;
				text-transform: none;
				margin-bottom: 10px;
			}

			.variety-items {
				> li {
					margin-bottom: 5px;

					> a {
						display: table-cell;
						width: 90px;
						height: 55px;
						padding: 5px;
						max-height: 55px;
						border: 2px solid;
						border-color: #ebebeb;
						text-align: center;
						vertical-align: middle;

						> img {
							display: initial;
						}

						&:hover {
							border-color: darken(#ebebeb, 10%); 
						}
					}
				}
			}
		}
	}

	.other-brands-panel {
		.header-panel {
			position: relative;
			font-weight: 700;
			border-bottom: 2px solid @baseBg;
			letter-spacing: 1px;
			line-height: 3.3em;

			.title {
				display: inline-block;
				padding: 0 20px;
				color: #FFF;
				margin-bottom: 1px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				background-color: @baseBg;
				font-weight: 300;
				text-transform: uppercase;
			}

			.btn-brands {
				position: absolute;
				right: 0;
			}
		}

		.content {
			padding: 15px;

			.paragpraph {
				padding-bottom: 15px;
				margin-bottom: 30px;
				border-bottom: 1px solid #c2c2c2;
			}

			.brands-slider {

				.owl-stage {
					padding-top: 10px;
					padding-bottom: 10px; 
				}

				.item {
					box-shadow: 0px 0px 0px @shadowColor;

					a {
						display: table-cell;
						position: relative;
						border: 2px solid darken(#f3f3f3, 10%);
						padding: 20px;
						border-radius: 10px;
						text-align: center;
						vertical-align: middle;
						box-shadow: 0px 2px 7px -3px @shadowColor;
						transition: all .2s;

						> img {
							display: initial;
							width: initial;
							max-width: 100%;
						}

						&:hover {
							border-color: @baseBg;
						}

						&:before {
							content: '';
							position: absolute;
							top: -7px;
							bottom: -7px;
							left: -7px;
							right: -7px;
							border: 5px solid #f3f3f3;
							border-radius: 15px;
							z-index: -1;
						}
					}
				}	
			}
		}
	}

	.brand-items-panel {
		margin: 20px 0;
		padding: 20px;

		.header-panel {
			padding: 0 10px;
			border-bottom: 1px solid @baseBg;
			margin-bottom: 20px;

			.tabs {
				border: 0;

				> li {
					color: @baseColor;
					min-width: 100px;
					padding: 1px 0;
					margin: -1px;
					font-size: 11px;
					border-top: 1px solid;
					border-color: #a2a2a2;
					transition: all .2s ease-in;

					a {
						display: block;
						padding: 8px 2px;
						text-align: center;
						text-transform: uppercase;
						background-color: transparent;
						color: @baseBg;
						border-radius: 0;
					}

					&:first-child {
						border-top-left-radius: 10px;
						border-left: 1px solid;
						border-color: #a2a2a2;

						&.active {
							border-color: @baseBg;
						}
					}

					&:last-child {
						border-top-right-radius: 10px;
						border-right: 1px solid;
						border-color: #a2a2a2;

						&.active {
							border-color: @baseBg;
						}
					}

					&:hover {
						background-color: #eee;
					}

					&.active {
						background-color: @baseBg;
						color: #FFF;
						border-color: @baseBg;

						a {
							color: #FFF;
						}

						&:hover {
							background-color: @baseBg;
						}
					}
				}
			}
		}

		.search-brand {
			margin-bottom: 20px;

			input.search {
				font-size: 16px;
			    padding: 10px;
			    height: initial;
			    border-right: 0;
			    background-color: #dedddd;
			    border-top-left-radius: 10px;
			    border-bottom-left-radius: 10px;
			    box-shadow: none !important;

			    + .input-group-addon {
			    	background-color: #dedddd;
			    	border-top-right-radius: 10px;
			    	border-bottom-right-radius: 10px;
			    }

			    &:focus {
			    	border-color: #CCC;
			    }
			}
		}

		.item-list-panel {
			padding: 20px;
			box-shadow: 0 13px 21px -20px @shadowColor;

			.brand-item {
				margin-bottom: 30px;

				> a {
					position: relative;
					display: table-cell;
					padding: 20px;
					border: 2px solid darken(#f3f3f3, 10%);
				    border-radius: 10px;
					vertical-align: middle;
					text-align: center;
					box-shadow: 0px 2px 7px -3px @shadowColor;
					transition: all .2s;

					img {
						max-width: 100%;
						height: auto;
					}

					&:hover {
						border-color: @baseBg;
					}

					&:before {
						content: '';
						position: absolute;
						top: -7px;
						bottom: -7px;
						left: -6px;
						right: -6px;
						border:5px solid #f3f3f3;
						border-radius: 10px;
						z-index: -1;
					}
				}
			}
		}
	}

	.download-panel	{
		background-color: @darkGray;
		border-radius: 10px;
		border: 0;
		margin-bottom: 30px;

		.panel-heading {
			position: relative;
			padding: 20px;
			border: 0;
			border-radius: 10px;
			background-color: inherit;
			overflow: hidden;

			.close {
				position: absolute;
			    float: none;
			    top: 10px;
			    right: 20px;
			    color: @baseBg;
			    opacity: .7;
			    font-size: 35px;
			    font-weight: 700;
			    z-index: 5;

			    &:hover {
			    	opacity: 1;
			    }
			}

			.date {
				font-size: 18px;
				margin-bottom: 0;
			}

			h3.title {
				position: relative;
				font-size: 18px;
				margin-top: 0;
				line-height: 1.2em;

				&:before {
					content: '';
					position: absolute;;
					bottom: -15px;
					left: 0;
					right: 30%;
					height: 1px;
					background-color: @baseBg;
				}
			}

			.btn {
				&.download {
					margin: 20px 50px 0 0;
				}
			}
		}

		.panel-body {
			padding: 0 10px 40px;

			.media-list {
				height: 300px;
				// min-height: 200px;
				// max-height: 300px;
				overflow-y: auto;
				overflow-x: hidden;

				.media-item{
					margin-bottom: 30px;
					opacity: 0;

					img {
						border-radius: 10px;
						padding: 5px;
						background-color: #FFF;
						box-shadow: 0 10px 5px -5px #CCC;
						transition: all .3s;
						border: 2px solid #ECECEC;

						&:hover {
							border-color: @baseBg;
						}
					}
				}
			}
		}
	}

	.slider-testimoni {
		position: relative;
		padding: 0 50px;
		margin: 50px 0 30px;

		img {
			&.initial {
				width: initial !important;
				border-radius: 10px;
				// box-shadow: 0px 0px 0px #c0c0c0;
			}
		}

		p {
			&.name {
				font-size: 16px;
				font-weight: 700;
				margin-bottom: 0;
			}
		}

		.owl-nav [class*="owl-"] {
		    position: absolute;
		    padding: 0 10px;
		    margin: 0;
		    color: #FFF;
		    font-size: 30px;
		    background-color: @baseBg;
		    z-index: 5;
		    border-radius: 0;
		}

		.owl-nav .owl-next {
		    right: 0;
		    top: 50%;
		    border-top-right-radius: 10px;
		    border-bottom-right-radius: 10px;
		    transform: translateY(-50%);
		}

		.owl-nav .owl-prev {
		    left: 0;
		    top: 50%;
		    border-top-left-radius: 10px;
		    border-bottom-left-radius: 10px;
		    transform: translateY(-50%);
		}
	}

	.job-listing {
		.panel-default {
			border: 0;
			border-radius: 0;
			box-shadow: none;
		}

		.panel-heading {
			padding: 5px 0;
			background-color: transparent;
			border: 0;
			border-bottom: 1px solid @baseBg;

			.panel-title {
				position: relative;
				display: block;
				color: @baseBg;
				font-size: 18px;

				&:after {
					content: '\f068';
					position: absolute;
					font-family: 'FontAwesome';
					right: 0;
				}

				&.collapsed {
					&:after {
						content: '\f067';
					}
				}
			}
		}

		.panel-body {
			ul {
				margin-bottom: 20px;
				padding: 0 0 0 20px;

				> li {
					margin-bottom: 15px;
				}
			}
		}
	}
}