@import "mixins.less";
@import "variables.less";

#footer {
	position: relative;
	background-color: @baseBg;
	color: @white;
	padding: 30px 0;
	font-size: 11px;

	&:before {
	    content: '';
	    position: absolute;
	    top: -32px;
	    left: 0;
	    width: 100%;
	    height: 32px;
	    background: url('../img/footer_top.png') no-repeat;
	    background-size: 100% 32px;
	}

	a:hover {
		text-decoration: underline;
	}

	.logo {
		> span {
			display: block;
			margin-top: 5px;
			text-align: center;
			font-weight: 300;
			text-transform: none;
		} 
	}

	ul {
		&.list-inline {
			> li {
				display: inline-table;
				font-weight: 700;
				width: 140px;
				text-transform: uppercase;
				margin-bottom: 15px;

				.list-unstyled {
					margin-top: 5px;

					li {
						line-height: 1.2em;
						margin-bottom: 3px;
						font-weight: normal;
						text-transform: none;
					}
				}
			}
	}
	}

	h5 {
		font-weight: 700;
		color: @white;
	}
}