@import "variables.less";
@import "mixins.less";

// header
#header {
	min-height: 213px;
	
	.bg-radius-red {
		position: relative;
		padding: 10px 0;
		background-color: @baseBg;
		color: @white;
		height: 80px;
		z-index: 3;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: -30px;
			height: 43px;
			background: url('../img/header_bottom.png') no-repeat;
			background-size: 100% 43px;
			z-index: 1;
		}

		.wrapper {
			position: relative;
		}
	}

	.content-wrapper {
		position: relative;

		.breadcrumb {
			margin-top: 75px;
		}

		.media-content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
		}

		&.bg-image {
			min-height: 450px;

		    &:after {
		    	content: '';
		    	position: absolute;
		    	height: 25px;
		    	width: 990px;
		    	border-top-left-radius: 10px;
		    	border-top-right-radius: 10px;
		    	background-color: rgba(255, 255, 255, 0.9);
		    	bottom: 0;
		    	left: 50%;
		    	transform: translate(-50%, 0);
		    }
		}

		&.vision {
			min-height: 650px;
		}

		&:before {
		    content: '';
		    position: absolute;
		    height: 150px;
		    top: 0;
		    left: 0;
		    right: 0;
		    background: url(../img/bg-media-overlay.png) no-repeat;
		    background-size: 100% 150px;
		    z-index: 1;
		}
	}

	.menu-panel {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 99999;
	}

	.navbar-default {
		margin-bottom: 0;
		background-color: @white;
		border-radius: 10px;
		box-shadow: 0px 10px 15px -5px @shadowColor;

		.navbar-brand {
			color: @baseBg;
			color: @baseBg;
		    height: @mainHeight;
		    padding: 0 0 0 20px;
		    line-height: @mainHeight;

		    > img {
		    	margin-top: -6px;
		    	max-width: 100%;
		    }
		}
	}

	ul {
		&.top{
			letter-spacing: 1px;
			margin-bottom: 10px;

			li {
				padding: 0 10px;
				border-right: 2px solid #FFF;

				&:last-child {
					border-right: 0;
				}

				> a {
					padding-top: 0;
					padding-bottom: 0;
					line-height: normal;

					&:hover {
						background-color: transparent;
					}
				}
			}
		}

		&.main-menu {
			margin: 0 -20px -10px 0;

			> li {
				position: initial;
				padding: 0 0 10px 0;

				a {
					color: #565656;
				    line-height: 15px;
					font-size: 13px;
					font-weight: 700;
					padding: 0;

				    &:hover {
				    	background-color: transparent;
				    }
				}

				> a {
					display: table-cell;
				    position: relative;
				    vertical-align: middle;
				    text-align: center;
				    text-transform: capitalize;
				    max-width: 110px;
				    height: @mainHeight;
					padding: 0 1.8em;
					border-right: 1px solid #ddd;
					border-left: 1px solid darken(#ddd, 10%);
				    backface-visibility: hidden;
				    transform: translateZ(0);

				    &:before {
				    	content: '';
				    	position: absolute;
				    	z-index: -1;
				    	background-color: @baseBg;
				    	height: 6px;
				    	border-radius: 50px;
				    	bottom: 1px;
				    	left: 50%;
				    	right: 50%;
				    	opacity: 0;
				    	transition-property: left, right, opacity;
				    	transition-duration: .2s;
				    	transition-timing-function: ease-out;
				    }

				    &:hover {
				    	&:before {
				    		opacity: 1;
							right: 15%;
							left: 15%;
						}
				    }
				}

				&.dropdown {
					position: relative;

					.dropdown-menu {
						display: block;
						top: 20%;
						border-top: 0;
						border-color: #e7e7e7;
						border-bottom-left-radius: 10px;
						border-bottom-right-radius: 10px;
						box-shadow: 0 10px 15px -5px @shadowColor;
						visibility: hidden;
						opacity: 0;
						padding: 0 0 5px;

						> .dropdown-menu-item {
							> a {
								padding: 10px;

								&:hover {
									color: @baseBg;
									transition: all .2s;
								}
							}
						}
					}

					&:hover {
						.dropdown-menu {
							top: 101%;
							visibility: visible;
							opacity: 1;
							transition: all .6s;
						}
					}
				}

				&.dropdown-large {
					position: initial;

					> .dropdown-menu-large {
						color: @baseColor;
						left: -2px;
						right: -2px;

						> li {

							&[class*="col-"] {
								padding-top: 20px;
								padding-bottom: 20px;
							}
							
							.img-wrapper {
								width: 100%;
								height: 200px;
								margin: 20px 0;

								> img {
									border-radius: 10px;
								}
							}
						}
					}

					&:hover {
						.dropdown-menu-large {
							top: 90%;
						}
					}
				}

				&:first-child {
					> a {
						border-left: 0;
					}
				}

				&:last-child {
					> a {
						border-right: 0;
					}
				}

				&.active {
					> a {
						background-color: transparent;

						&:before {
							opacity: 1;
							right: 8%;
							left: 8%;
						}
					}
				}

				&.open {
					> a {
						background-color: transparent;

						&:before {
							opacity: 1;
							right: 8%;
							left: 8%;
						}
					}
				}
			}
		}
	}
}