@import "variables.less";

#world-map {
    margin-bottom: 20px;
}

.jvectormap-container {
    border-radius: 10px;
    box-shadow: 0px 5px 25px -10px @shadowColor;   
}

.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #DDD;
    border-radius: 10px;
    background: #FFF;
    color: @baseColor;
    z-index: 9999;
    padding-bottom: 10px;

    strong {
        &.info {
            font-weight: 700;
            font-size: 20px;
            text-align: left;
            padding-bottom: 10px;
            margin: 15px;
            border-bottom: 1px solid #DDD;
        }
    }

    > p {
        margin: 0 15px 5px;
        font-size: 12px;
    }
}

.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    bottom: 90%;
    margin-top: -25px;
    border-radius: 2px;
    background: #FFF;
    padding: 10px;
    color: @baseColor;
    cursor: pointer;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 1px 2px @shadowColor;
}

.jvectormap-zoomin {
    left: 100%;
    margin-left: -40px;
}

.jvectormap-zoomout {
    left: 100%;
    margin-left: -75px;
}

.country-info {
    text-align: center;
}

.country-office {
    display: inline-block;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    border-radius: 100px;
    border: 2px solid;
    border-color: #3B8BEA;
    background-color: #FFF;
}

.country-marketing {
    &:extend(.country-office);
    border-color: #E9E745;
}

.country-export {
    &:extend(.country-office);
    border-color: #C20907;
}