@media (max-width: 767px) {
    .banner {
        .overlay {
            img {
                width: inherit;
                max-height: 100%;
            }
        }
    }

    #header {
        .content-wrapper{
            &.bg-image {
                min-height: 250px;

                &:after {
                    width: 80%;
                    opacity: .7;
                }
            }
        }

    	.navbar-default {
    		border-radius: 0;
    		z-index: 5
    	}

    	ul {
    		&.main-menu {
    			li {
    				border: 0 !important;

                    a {
    					display: block;
    					text-align: left;
    					max-width: initial;
    					height: initial;
    					padding: 15px;

                        &:hover {
                            background-color: darken(#FFF, 3%);

                            &:before {
                                display: none;
                            }
                        }
    				}

                    .dropdown-menu-large {
                        border-top: 3px solid @baseBg;
                        box-shadow: none;

                        > li {
                            &[class*="col-"] {
                                padding-top: 0;
                                padding-bottom: 0;
                            }
                        }
                    }

                    &.active {
                        a:before {
                            display: none;
                        }
                    }

                    &.open {
                        a:before {
                            display: none;
                        }
                    }
    			}
    		}
    	}
    }

    .row.table-row{
        display: block;

        >[class*="col-"] {
            display: block;
        }
    }
}