@import "variables.less";
@import "mixins.less";

// custom style
ul {
	&.list-cs {
		padding: 0 0 0 15px;

		> li {
			margin-bottom: 10px;
		}
	}
}

.big-font {
	font-size: 30px;
	color: @baseBg;
	margin: 80px 0;
}

.company-info {
	margin: 50px 0 20px;
}

.search-content {
	> label {
		font-size: 20px;
		font-weight: 300;
	}

	.search-input {
		border-right: 0;
		font-weight: 700;
		box-shadow: none !important;
		border-color: #CCC !important;
	}

	.input-group-addon {
		background-color: transparent;
	}
}

.searching-wrapper {
	margin-top: 30px;

	.search-title {
		padding: 6px 0;
		border-bottom: 1px solid #CCC;
	}

	.news-result {
		.result-item {
			margin-bottom: 10px;

			.result-category {

				text-transform: uppercase;
			}

			.result-content {
				> h5 {
					margin: 0;
				}
			}
		}
	}

	.media-result {
		.media-item {
			width: 150px;
			height: 150px;
			margin-bottom: 10px;
		}
	}
}

.red-text {
	color: @baseBg !important; 
}

.text-justify {
	text-align: justify !important;
}

.initial {
	display: initial !important;
}

.captcha {
	display: block;
    background-color: #F9F9F9;
    padding: 4px 15px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
    font-size: 18px;
    font-family: monospace;
}

.pagination {
	margin-bottom: 0;
	border-radius: 0;

	> li {
		> a {
			border: 0;
			border-radius: 0 !important;
			color: @baseColor !important;
			font-size: 16px;
		}

		&.active {
			> a {
				background-color: @baseBg !important;
				color: #FFF !important;
			}
		}
	}
}

.gray {
	background-color: @gray;
}

.no-padding {
	padding: 0 !important;
}

.page-history {
	display: inline-block !important;
	width: 560px;
	.year-page {
		font-size: 16px;
		border: 1px solid @darkGray;

		> a {
			display: block;
			padding: 8px 15px;

			&:hover {
				color: @baseBg;
			}
		}

		&.active {
			> a {
				font-weight: 700;

				&:hover {
					color: @baseColor;
				}
			}
		}
	}
}

img {
	&.brand-logo {
		max-width: 300px;
		height: auto;
		margin-bottom: 20px;
	}
}

.news-list-panel {
	margin-top: 50px;
}

.brands-slider {
	.owl-nav {
		[class*="owl-"] {
			position: absolute;
			color: #CCC;
			font-size: 60px;
			background-color: transparent !important;
			z-index: 5;

			&:hover {
				color: darken(#CCC, 10%);
			}
		}

		.owl-prev {
			left: -45px;
			top: 50%;
			transform: translateY(-50%);
		}

		.owl-next {
			right: -45px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.mobile-slide {
	.owl-nav {
		[class*="owl-"] {
			position: absolute;
			color: #CCC !important;
			font-size: 60px;
			background-color: transparent !important;
			z-index: 5;
		}

		.owl-prev {
			left: -20px;
			top: 50%;
			transform: translateY(-50%);
		}

		.owl-next {
			right: -20px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.vision {
	z-index: 0;

	.owl-item {
		.content {
			position: absolute;
			display: block;
			width: 100%;
			padding:0 20px 80px;
			bottom: 0;
			background-color: fadeOut(@baseBg, 50%);
			color: #FFF;
			text-align: center;
			text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.45);
			letter-spacing: 1px;

			> p {
				font-size: 26px;
				margin-bottom: 0;
			}

			h3 {
				color: #FFF;
			}

			.title {
				margin-top: 10px;
				font-weight: 700;
				color: #FFF;
			}

			.rounded {
				background-color: rgba(255, 255, 255, 0.7);
				color: @baseColor;
				border-radius: 100%;
				height: 350px;
				width: 350px;
				padding: 50px;
				margin: 0 auto;

				.step {
					display: block;
					text-transform: uppercase;
					margin-bottom: 20px;
					font-size: 18px;
				}

				> p {
					display: table-cell;
					height: 205px;
					vertical-align: middle;
				}
			}

			&.centered {
				top: 45%;
				text-shadow: none;

				.title {
					font-weight: 700;
					color: @baseBg;
					margin-bottom: 50px;
				}
			}
		}
	}
}

.owl-theme {

	&.vision-slider {
		z-index: 0;

		.owl-nav.disabled+.owl-dots {
			position: relative;
		    margin-top: -65px;
		}

		.owl-dots {
			.owl-dot {
				span {
					width: 15px;
					height: 15px;
					background-color: transparent;
					border: 2px solid #FFF;
				}

				&:hover {
					span {
						background: rgba(244, 7, 27, 0.42);
					}
				}

				&.active {
					span {
						background: #FFF;
					}
				}
			}
		}
	}
}

.mobile-slide {
	margin: 0 !important;
	display: block;

	.owl-item {
		img {
			display: initial;
		}
	}
}

img {
	&.fit-cover {
		display: block !important;
		width: 100vw !important;
		height: 100vh !important;
		max-width: 100% !important;
		max-height: 100% !important;
		object-fit: cover;
	}
}

[data-match-columns="true"] > [class*="col-"] {
    margin-bottom: 30px;
}

.history {
	padding: 40px 0 0;
	.item {
		min-height: 250px;
		overflow: hidden;

		img {
			box-shadow: 0 0 0 @shadowColor;
		}

		.content {
			text-align: right;

			.year {
				display: block;
				color: @baseBg;
				font-size: 60px;
			}

			p {
				line-height: 2em;
			}
		}
	}
}

.history-page {
	display: inline-block;
	margin-top: 20px;
	overflow: hidden;
	
	a.prev {
		float: left;
		padding: 10px 15px;
		background-color: @baseBg;
		color: #FFF;
		border-color: @baseBg;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px; 
		z-index: 3;
	}

	a.next {
		&:extend(.history-page a.prev);
		float: right;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.pagination {
		li {
			font-size: 16px;

			a {
				color: @baseColor;
				padding: 8px 15px;

				&:hover {
					color: @baseBg;
					background-color: transparent;
				}

				&:active {
					color: @baseColor;
					background-color: transparent;
				}

				&:focus {
					color: @baseColor;
					background-color: transparent;
				}
			}

			

			&.active {
				> a {
					color: @baseColor;
					background-color: transparent;
					border-color: #DDD;
					font-weight: 700;
					z-index: 0;
				}
			}
		}
	}
}

.brand-pagination {
	display: table;
	margin: 0 auto 35px;
	box-shadow: 0 5px 25px -10px @shadowColor;

	> ul {
		display: table-row;

		> li {
			float: left;
			width: 120px;
			height: 70px;
			list-style: none;
			cursor: pointer;
			line-height: 70px;
			color: #FFF;
			font-size: 25px;
			border: 1px solid #DDD;
			padding: 0 10px;
			text-align: center;

			> img {
				border: 0;
				display: inline-block;
				height: auto;
				max-width: 100%;
				opacity: .6;
				filter: grayscale(100%);
				padding-bottom: 10px;
			}

			&.active {
				> img {
					opacity: 1;
					filter: none;
				}
			}

			&:first-child {
				background-color: @baseBg;
				width: initial;
				padding: 0 10px;
				border: 1px solid @baseBg;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
			}
			&:last-child {
				background-color: @baseBg;
				width: initial;
				padding: 0 10px;
				border: 1px solid @baseBg;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
}

.brand-slider {
	.item {
		> img {
			display: initial;
			width: initial;
		}
	}
}

.job-list {
	box-shadow: 0px 5px 25px -12px @shadowColor;

	> .list-group-item {
		padding: 15px 25px;
		font-weight: 700;
	}
}

.medium {
	display: block;
	font-size: 50px;
	color: @baseBg;
	text-align: center;
	line-height: 1em;
	font-weight: 700;
}

.big {
	&:extend(.medium);
	font-size: 64px;
	font-weight: 800;
}

.info {
	&:extend(.medium);
	font-size: 30px;
	margin-bottom: 0px;
	font-weight: 400;
}

.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.transparent {
	background-color: transparent !important;
}

.animated {
	opacity: 0;

	&.visible {
		opacity: 1;
	}
}

.search-form {
    .submit {
    	padding-left: 5px;
    	padding-right: 0;
    	color: @white !important;
    	box-shadow: none !important;
    }

    .input-group {
    	display: inline-table;
    	vertical-align: middle;
    }

    .input-group-btn {
    	width: auto;
    }

    .form-control {
    	letter-spacing: 1px;
	    color: #FFF;
	    border: none;
	    width: 53px !important;
	    border-radius: 0;
	    box-shadow: none;
	    background-color: transparent;
	    padding: 0;
	    transition: all .3s;

	    &:focus {
		    width: 100px !important;
		}
	}

	.form-control::-webkit-input-placeholder { color: @white; }
	.form-control:-moz-placeholder { color: @white; }
	.form-control::-moz-placeholder { color: @white; }
	.form-control:-ms-input-placeholder { color: @white; }
}

.container-fluid {
	&.menu {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.breadcrumb {
	position: relative;
	margin-top: 150px;
	background-color: transparent;
	color: lighten(@baseColor, 10%);
	z-index: 1;

	> li {
		+ li:before {
			font-family: "FontAwesome";
			padding: 0 7px 0 5px;
			color: lighten(@baseColor, 10%);
			content: "\f105";
		}
	}

	>.active {
		color: @baseColor;
		font-weight: 700;
	}
}

.btn {
	&.btn-default {
		position: relative;
		padding: 10px 35px;
		border-color: darken(@baseBg, 10%);
		background-color: @baseBg;
		color: @white;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-radius: 10px;
		outline: none;
		transition: all .3s;

		&:before {
			content: '\f054';
			font-family: 'FontAwesome';
			position: absolute;
			height: 100%;
			line-height: 42px;
			color: #FFF;
			left: 80%;
			opacity: 0;
			top: 0;
			transition: all .3s;
		}

		&:hover {
			background-color: darken(@baseBg, 10%);
			color: @white;
			padding-right: 60px;
			border-radius: 4px;
			box-shadow: 0 5px 10px #CCC;

			&:before {
				left: 85%;
				opacity: 1;
			}
		}
	}

	&.show-more {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

.about-item {
	position: relative;
	background-color: @gray;
	width: 100%;
	height: 300px;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0px 3px 5px @shadowColor;
	overflow: hidden;

	> img {
		position: absolute;
		max-width: 100%;
		bottom: 0;
		right: 0;
	}

	&.landscape {
		.caption {
			width: 480px;
		}
	}

	.caption {
		position: relative;
		padding: 5px 35px;
		width: 345px;
		height: 100%;
		background: linear-gradient(to right, @gray 0%, transparent 100%);

		.title {
			font-weight: 700;
		}
	}
}

.thumbnail {
	&.news {
		border: 0;

		> .wrapper {
			position: relative;
			width: 100%;
			overflow: hidden;
			text-align: center;
			cursor: default;
			
			height: 245px;
			padding: 0;
			margin: 0;
			padding-bottom: 15px;
			border-bottom: 1px solid @baseBg;

			img {
				display: block;
				position: relative;
				border-top-left-radius: 10px;
			    border-top-right-radius: 10px;
			    transition: all .4s linear;
			}

			.overlay {
				position: absolute;
				width: 100%;
				bottom: 0;
				top: 0;
				left: 0;
				opacity: 0;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				background-color: fadeout(@baseBg, 40%);
				transition:all .4s ease-in-out;
				overflow: hidden;
			}

			h3.title {
				position: relative;
				color: #FFF;
				font-size: 21px;
				padding: 20px;
				font-weight: 300;
				text-align: center;
				text-transform: uppercase;
				transform: translateY(-100px);
				transition: all .2s ease-in-out;
			}

			a.more {
				position: relative;
				display: inline-block;
				padding: 0 0 0 20px;
				color: #fff;
				margin: 5px 0 0 0;
				opacity: 0;
				text-transform: uppercase;
				transition: all 0.2s ease-in-out;

				&:before {
					content: '\f105';
					position: absolute;
					left: 0;
					top: -10px;
					font-family: 'FontAwesome';
					font-size: 30px;
					color: #ca8b03;
					font-weight: 700;
				}
			}

			&:hover {
				border-top-left-radius: 10px;
			    border-top-right-radius: 10px;

				img {
					transform: scale(1.2);
				}

				.overlay {
					opacity: 1;
				}

				h3.title {
					transform: translateY(0px);
				}

				a.more {
					opacity: 1;
					transition-delay: .5s;
				}
			}
		}

		.caption {
			padding: 10px 0;

			.date {
				font-size: 18px;
				margin-bottom: 0;
			}

			> .title {
				margin-top: 0;
				line-height: 1.2em;
			}
		}
	}

	&.media {
		position: relative;
		height: 100%;
		background-color: #ececec;
	    padding: 15px 15px 68px;
	    margin-bottom: 30px;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;

	    .btn-default.view {
	    	position: absolute;
	    	right: 30px;
	    	bottom: 30px;
	    }

	    h3.title {
	    	font-size: 18px;
	    }

	    &:before {
	    	content: '\f030';
	    	position: absolute;
	    	font-family: 'FontAwesome';
	    	right: 20px;
	    	top: 20px;
	    	font-size: 16px;
	    	background-color: @baseBg;
	    	color: #FFF;
	    	padding: 5px 10px;
	    	border-radius: 4px;
	    	opacity: .6;
	    	z-index: 1;
	    }

	    &.video {
	    	&:before {
	    		content: '\f03d';
	    	}
	    }
	}
}

.divider-line {
	display: block;
	border-top: 1px solid #CCC;
	margin: 50px 0 20px;
}

.divider-panel {
	border-top: 1px solid #CCC;
	padding: 20px 0;
	margin: 50px 0 20px;
}

.banner {
	font-size: 20px;
	position: relative;
	border-radius: 10px;
	height: 70px;
	text-align: right;
	line-height: 35px;
	overflow: hidden;

	.banner-content {
		position: relative;
		padding: 15px 55px 15px 15px;
		z-index: 1;
	}

	.go-to {
		position: relative;
		color: red;
		font-weight: 700;

		&:before {
			content: '\f105';
			font-family: 'FontAwesome';
			position: absolute;
			font-size: 40px;
			top: 50%;
			right: -30px;
			transform: translate(0, -50%);
		}
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(to right, transparent 30%, rgba(255, 255, 255, 0.8) 100%);

		img {
			background-color: #f7f6f7;
			position: relative;
			z-index: -1;
			width: 100%;
		}
	}
}

.row.table-row {
    display: table;
    width: 100%;
    margin: 0 auto;

    > [class*="col-"] {
	    float: none;
	    float: none;
	    display: table-cell;
	    vertical-align: top;

	    &.middle {
	    	vertical-align: middle;
	    }
	}
}

form {
	.has-error {
		.form-control {
			border-color: @baseBg;
			height: 40px;
			border-radius: 10px;
			padding: 10px 12px;

			&:focus {
				border-color: darken(@baseBg, 10%)
			}
		}

		textarea {
			&.form-control {
				height: auto;
			}
		}
	}
}