// animation
.keyframes(@name; @arguments) {
	@-webkit-keyframes @name { @arguments(); }
	@-moz-keyframes @name { @arguments(); }
	@-ms-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	-ms-animation: @arguments;
	animation: @arguments;
}

.bg-slider-image(@bg; @delay) {
	background-image: url(@bg);
    -webkit-animation-delay: @delay;
    -moz-animation-delay: @delay;
    -ms-animation-delay: @delay;
    animation-delay: @delay;
}

.transition(@arguments) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-ms-transition: @arguments;
	transition: @arguments;
}

.transform(@arg) {
	-webkit-transform: @arg;
    -moz-transform: @arg;
    -ms-transform: @arg;
    transform: @arg;
}

.transform-style(@arguments) {
    -webkit-transform-style: @arguments;
    -moz-transform-style: @arguments;
    -ms-transform-style: @arguments;
    transform-style: @arguments;
}

.perspective(@val) {
    -webkit-perspective: @val;
    -moz-perspective: @val;
    -ms-perspective: @val;
    perspective: @val;
}

.backface-visibility(@arg) {
    -webkit-backface-visibility: @arg;
    -moz-backface-visibility: @arg;
    -ms-backface-visibility: @arg;
    backface-visibility: @arg;
}

.sliderImage(){
	0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        .transform(scale(1.05));
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -ms-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
        .transform(scale(1.1));
    }

    22% {
        opacity: 0;
        .transform(scale(1.1) translateY(-20%));
    }

    25% {
        opacity: 0;
        .transform(scale(1.1) translateY(-100%));
    }

    100% {
        opacity: 0
    }
}

// heading
.heading(@size) {
	font-size: @size !important;
    line-height: @size !important;
}

.no-radius() {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.border-radius(@val) {
    -webkit-border-radius: @val;
    -moz-border-radius: @val;
    -ms-border-radius: @val;
    border-radius: @val;
}