@import "variables.less";
@import "mixins.less";

// helper class
.helper-class {
    .no-padding {
        padding: 0;
    }

    .no-margin {
        margin: 0;
    }

    .thin {
        font-weight:100;
    }
}


// subcontent

#content {

    .no-margin-btm {
        margin-bottom: 0 !important;
    }

    .pad-wording {
        p {
            margin: 20px 0px 30px 0px;
            padding: 0 30px;
        }

        h3 {
            color: @baseBg;
            font-weight:100;
        }

        .pad-wording-in {
            padding: 0 30px;

            p {
                padding: 0;
                margin: 20px 0;
            }

            ul {
                padding-left: 15px;
                line-height: 30px;

                li {
                    padding-bottom: 5px;
                }
            }

            .uppercase {
                text-transform: uppercase;
            }

            .date-title {
                color: @baseColor;
                margin-bottom:5px;
            }

            .date-result {
                color: @baseBg;
                line-height: 1.2em;
                font-weight:800;
            }

            .border-date {
                border:1px solid @darkGray;
                padding:20px 35px;
                border-radius:15px;
                margin:0px -5px 20px -5px;
            }
        }
    }

    .scroll-item {
        border-bottom: 1px solid @baseBg;

        .arrow-scroll-up {
            font-size: 2.5em;
            color: @baseBg;
            display: block;
        }
    }
}

.about-item-csr {
    position: relative;
    background-color: @gray;
    width: 100%;
    height: 385px;
    margin-bottom: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;

    .block {
        display: block;
    }

    > img {
        position: absolute;
        max-width: 100%;
        bottom: 0;
        right: 0;
    }

    &.landscape {
        .caption-layer {
            width: 100%;
        }
    }

    .caption-layer {
        position: relative;
        width: 345px;
        height: 100%;
        background: linear-gradient(135deg,@white 0%,transparent 50%);
    }

    .caption-title {
        position: absolute;
        padding: 5px 35px;
        width: 230px;
        height: 100%;
        top: 0;

        .title {
            font-weight: 700;
            margin-top: 15px;
        }

        h2.title {
            word-wrap: break-word;
            font-size: 27px;
        }
    }

    .layer-dark {
        background: rgba(0,0,0,.5);
    }

    .caption-center {        
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        height: 100%;
        transition:all 1s;

        .title {
            font-weight: 700;
            text-transform: uppercase;
            color: #FFF;
            margin: 0 auto;
            font-size: 3em;
            margin-top: 7%;
            line-height: normal;

            &:after {
                content: "";
                height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    &.csr-community {
        height: 200px;
    }

    a {
        &.arrow-scroll-down {
            font-size: 1em;
            color: @white;
            display: block;
            opacity: 0;
            cursor:none;

            &.collapsed {
                opacity: 1;
                cursor:pointer;
            }
        }
    }
}
