@import "mixins.less";
@import "variables.less";

html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
    color: @baseColor;
    background: @white;
    font-family: @fontFamilyPrimary;
    font-style: normal;
    font-weight: 400;
    line-height: 1.55;

    // jika menggunakan preloader
    &.loading {
    	overflow-x: hidden !important;
    	overflow-y: hidden !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: @fontFamilySecondary;
    font-weight: 700;
    padding: 0;
    color: @baseColor;
    line-height: 1.55;
}

p {
    font-size: 14px;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:hover, &:focus{
    	&:extend(a);
    }
}