// Fonts Style
@fontFamilyPrimary: 'Open Sans', sans-serif;
@fontFamilySecondary: 'Open Sans', sans-serif;
@baseColor: #565656;
@white: #FFF;
@gray: #F7F7F7;
@darkGray: #ececec;

// Base Color
@baseBg: #F4071B;
@darkenBase: darken(@baseColor, 10%);

// main menu setting
@mainHeight: 50px;

// shadow
@shadowColor: #999;